.staticPage
	.staticContent.announcementShow
		%h2= @announcement.title
		.announcementContent
			=raw @announcement.body
=debug @announcement.pixel_height

%style
	div[class^="announcement-bottom"]{ top:#{@announcement.pixel_height}px; }