
=f.email_field :email, placeholder: 'Email'
=f.text_field :name, placeholder: 'Name'
=f.label 'Resume'
=f.file_field :resume

=f.submit 'Submit Application', data: {disable_with: 'Please Wait...' }

