%h1 Stack
=semantic_form_for @stack do |f|
  =f.inputs do
    =f.input :title, input_html: {disabled: true}
    #slides
      =f.semantic_fields_for :slides do |slide|
        =render partial: 'stacks/slide_fields', locals: {f: slide}
      =link_to_add_association 'add a slide', f, :slides
  =f.actions