.eventSlide	
	=image_tag event.image.url(:large, retina: true) 
	.eventCaption
		=event.title
		=raw event.description 
		=event.start_date
	=link_to "RSVP for the event here", new_rsvp_path(event), remote: true, :class => "specialLink"