.homeSlide(style='background-image: url("#{home_page_slide.image.url(:large_retina)}")')
	-unless home_page_slide.header.nil?  
		.slideCopy
			%h2= home_page_slide.header 
			%p= home_page_slide.body