.eventSlide	
	.slideContent	
		=debug event
		=image_tag event.image.url(:large, retina: true)
		%ul.eventLinks
			-if event.is_weekly? || !event.is_past?
				%li
					=link_to "RSVP for the event here", new_rsvp_path(event), remote: true, :class => "specialLink"
				%li
					=link_to "View our past events here", past_events_path, :class => "specialLink"
				-unless event.is_weekly?
					%li
						=link_to "View our weekly clinics here", weekly_events_path, :class => "specialLink"
			-elsif event.is_past?
				%li
					=link_to "View our weekly clinics here", weekly_events_path, :class => "specialLink"
				%li
					=link_to "View our upcoming events here", events_path, :class => "specialLink"
