-provide :title, '| Past Events'
#eventsPage.staticPage
	.staticContent
		#eventSlider
			.event2
			.event3.eventSlide
				%a.specialLink Click here to RSVP!!!
			=render partial: 'shared/event', collection: @events


=content_for :scripts do
	:javascript
		$(function() {
			$('#eventSlider').orbit({
				animationSpeed: 700,
				advanceSpeed: 10000,
				directionalNav: true,
				bulletThumbs: true
			});
		});
