%li.stackSlide
	

	= yield_content! :image if content_for? :image


	%h1= yield_content! :title if content_for? :title
	%h2= yield_content! :summary if content_for? :summary
	%h3= yield_content! :body if content_for? :body


