.stackPage  
  %ul.featured
    %li
      %h1 About
    %li
      %h2 Meet the Westlake Pro Team
      #about3Bios
        =render partial: 'shared/employee', collection: @content.employees
        / 
          #first.team-member
            %a{:onclick => "showdiv('first-bio', 'first');"}
            %div
              %h4 First Name
            %h6 CEO
          #second.team-member
            %a{:onclick => "showdiv('second-bio', 'second');"}
            %div
              %h4 Second Name
            %h6 President
          #third.team-member
            %a{:onclick => "showdiv('third-bio', 'third');"}
            %div
              %h4 Third Name
            %h6 General Manager
          #fourth.team-member
            %a{:onclick => "showdiv('fourth-bio', 'fourth');"}
            %div
              %h4 Fourth Name
            %h6 Techical Services Manager
          #fifth.team-member
            %a{:onclick => "showdiv('fifth-bio', 'fifth');"}
            %div
              %h4 Fifth Name
            %h6 Pro Audio Sales Manager
          #first-bio.team-member-details.hide
            %h3 First Member Name
            %h5 Position
            %p Job description & other info
          #second-bio.team-member-details.hide
            %h3 Second Member Name
            %h5 Position
            %p Job description & other info
          #third-bio.team-member-details.hide
            %h3 Third Member Name
            %h5 Position
            %p Job description & other info
          #fourth-bio.team-member-details.hide
            %h3 Fourth Member Name
            %h5 Position
            %p Job description & other info
          #fifth-bio.team-member-details.hide
            %h3 Fifth Member Name
            %h5 Position
            %p Job description & other info
    %li.defaultSlide
      =image_tag "rails.png" 
      %h2 Letter from the CEO
      %p Body blahblahblahblah   
    %li.defaultSlide
      #about1Gallery
        =image_tag "rails.png"
      #about1Copy
        %h2 The Westlake Pro Story
        %p Body blahblahblahblah 
      

      
  %nav.stackNav
    %ul.side-nav.stackNavList
      %li= link_to "The Westlake Pro Story", "#title1"
      %li= link_to "Letter from the CEO", "#title2"
      %li= link_to "Meet the Team", "#title3"

//=debug @stack

=content_for :scripts do
  :javascript
    if (window.matchMedia("(min-device-width: 768px)").matches) {

      $(function() {
        
        $('.featured').orbit({
          timer: false,
          fluid: '16x6',
          bulletThumbs: false,
          animation: "vertical-slide",
          animationSpeed: 500,
          directionalNav: false,
        });

        $(document).on('mousewheel DOMMouseScroll', function(e){
          console.log(e); 
          var temp = (0 < e.originalEvent.wheelDelta ? 'orbit.next' : 'orbit.prev');
          $('.featured').trigger(temp);
          return false;
        });

        $(document).on('keydown', function(e){
          var temp = e.originalEvent.keyCode; 
          if(temp == 38 || temp == 40) {
            if(temp == 40) {
              temp = 'orbit.next';
            } else {
              temp = 'orbit.prev'
            }
            $('.featured').trigger(temp);  
          }
        });


        var length = $('ul.stackNavList li').length - 1;  
        $('ul.stackNavList li a').on('click', function(e){
          var index = $(this).parent().index();
          index = (length-index) +1 ; 
          $(this).parent().addClass('current');
          $('.featured').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });
      });
    }
    else {
      console.log('too small for slider');
    }

  :javascript
    var _hidediv = null;
    var _removecolor = null;
    function showdiv(id, imgid) {
        if(_hidediv)
            _hidediv();
      if(_removecolor)
        _removecolor();
        var div = document.getElementById(id);
        div.style.display = 'block';
        _hidediv = function () { div.style.display = 'none'; };
      var imgdiv = document.getElementById(imgid);
      imgdiv.className += ' color-img';
      _removecolor = function () { imgdiv.className = ''; imgdiv.className = 'team-member' };
      console.log("hello wes");
    }
