#avidTabs.staticPage
	.staticContent
		%dl.tabs.three-up
			%dd.active
				%a{href:"#avidProducts"} View Avid Products
			%dd
				%a{href:"#avidResources"} Avid Resources
			%dd
				%a{href:"#avidExperience"} Avid Artist Experience
		%ul.tabs-content
			%li.active#avidProductsTab
				%ul.pdfList.block-grid.three-up
					%li 
						=link_to asset_path('exchanges.pdf') do
							%p Exchanges
					%li 
						=link_to asset_path('3rd_party.pdf') do 
							%p 3rd Party Plugins
					%li 
						=link_to asset_path('scorch.pdf') do 
							%p Avid Scorch
					%li 
						=link_to asset_path('fast_track.pdf') do 
							%p Fast Track Family
					%li 
						=link_to asset_path('mbox.pdf') do 
							%p Mbox Family
					%li 
						=link_to asset_path('protools.pdf') do 
							%p Protools Family
					%li 
						=link_to asset_path('sibelius.pdf') do 
							%p Sibelius Family
					%li 
						=link_to asset_path('upgrades.pdf') do 
							%p Upgrades and Updates
					%li 
						=link_to asset_path('network.pdf') do 
							%p Network and Storage
			%li#avidResourcesTab
				%ul.pdfList.block-grid.two-up
					%li 
						=link_to asset_path('contact_info.pdf') do 
							%p Worldwide Contact Info
					%li 
						=link_to asset_path('repair_centers.pdf') do 
							%p Repair Centers
					%li 
						=link_to asset_path('training.pdf') do 
							%p Avid Training
					%li 
						=link_to asset_path('compatibility.pdf') do 
							%p Compatibility Charts
				#avidSupport
					%h3 Technical Support:
					%h4 Avid Assisted Support
					%p< 
						You may purchase Avid Support Codes for per incident support for any Digidesign product. Please visit the 
						%a{href:'shop.avid.com/store/category.do?category=services-phone-support'} Avid Web Store.
					%p< 
						%a{href:'http://www.avid.com/US/support/asc/digidesign'} Learn more
						about Avid Support Codes.
					%p<
						%a{href:'http://www.avid.com/US/support/support-center'} Support Center - 
						submit/manage a support request online
					%p Tel: 650-731-6100 
					%p Fax: 650-731-6375
					%p Monday - Thursday 8am-5pm PST, Friday 8am-4pm PST
			%li#avidExperienceTab
				#avidTestimonials
					.sideQuote
						%p
							The thing that’s great about Pro Tools|HD is how reliable it is. I know it’s going to work exactly how I need it to every time. It’s a rock!
							%br
							%strong - Andrew Scheps – Mixer, Engineer, Producer (Metallica, U2, Rolling Stones)
					.sideQuote
						%p
							Pro Tools has been a huge improvement in the quality of our work... it can handle anything you want to throw at it and never complains.
							%br
							%strong - Jim Greer/Rondo Brothers – Producer, Remixer, Composer (Depeche Mode, MC Lars, BMW)
					.sideQuote
						%p
							I finally moved up to Pro Tools|HD and I’ve gotta say, it’s like going from a clunker to a hotrod... And with all the plug-ins, it makes mixing a whole different ballgame.
							%br
							%strong	- Pedro Yanowitz – Bassist, Songwriter, Drummer (Morningwood, The Wallflowers)
				#avidStories
					.artist#Wells
						=image_tag('wells1.jpg')
						%h2 Greg Wells: The Abbey Road Sessions
						=image_tag('wells2.jpg')
						%p Multiple Grammy-nominated producer, songwriter, and instrumentalist Greg Wells has enjoyed great success in his own studio in Los Angeles. "I'm not in the habit of working in different places. I do everything here, except [work with] a big string section or a big choir, where there are dozens of musicians. At that point, I need to go somewhere bigger."
						=image_tag('wells3.jpg')
						%p Wells' credits are extensive. He has collaborated with Katy Perry, Celine Dion, OneRepublic, and the All-American Rejects; co-written Adele's "One and Only" from her Grammy-winning release 21; and shared writing and production credits on Kid Cudi's song from the Hunger Games, "The Killer and The Ruler." Although you'll usually find him working in L.A., Wells was offered an opportunity in 2012 to work in the most famous recording facility in the world—Abbey Road Studios.
						%p "I was there a little under a year ago, doing a string session in Studio 2, the Beatles room, and having the time of my life," Wells explains about his first visit. "I walked into the studio and there are the pianos used on 'Maxwell Silver Hammer,' 'Martha My Dear,' and the last chord at the end of 'Day in the Life.' And they sound just like they did on those records. As soon as you walk into Abbey Road, you see some of the most legendary recording equipment ever made, such as the EMI TG Mark II console. And just sitting in the hallway was a reel-to-reel 4-track like the one used to record Sgt. Pepper."
						%p In addition to the analog recording gear that has been used at Abbey Road for decades, the studio is fully outfitted with state-of-the-art digital equipment, including the facility's digital audio workstations that were recently upgraded to Pro Tools|HDX systems with HDseries I/O. Wells felt the impact immediately.
						=image_tag('wells4.jpg')
						%p "During the string session, I went to add a new track and it said that I had a track count of 512. At that point I realized that we are in the future, and it was because of the new HDX system, which I had not worked on before. It just flew like lightning, sounded amazing, and the plug-ins opened so much quicker, even while a track was playing I really loved it."
						%p A few months later, Wells returned to Abbey Road to produce a track for the London-based band Strangefruit to help kick off a year-long collaboration between Avid and the world's most famous studio. "I got an email saying that they were looking for someone to produce a song in the exact same room that I had been working, using the same system, and would I be interested in doing it. I said as long as I love the song, this sounds like a dream situation!"
						=image_tag('wells5.jpg')
						%p However, he was given only three days to record and mix the song. "You never know what you're getting into when you walk into the studio with a band for the first time," Wells notes. "But the singer, Jenny Max, has a beautiful, round voice. Everyone was very together— real team players. And the song was great. So we just launched into it."
						%p Wells says the project went smoothly in large part because of Abbey Road's top-notch staff. "They're all super intelligent and very talented engineers, and really helpful. I figured out early on that Chris, our engineer, was excellent. He got great sounds quickly, so I leaned on him heavily. He had picked out a [Neumann] U67 that was his favorite vocal mic, and I loved it: there was no need to hear anything else. We didn't have a lot of time to experiment. We had to hit the ground running and absolutely do the best job possible given the time constraints."
						=image_tag('wells6.jpg')
						%p And that's where the new HDX system came into play. "My favorite thing about the Pro Tools|HDX system is that I almost never notice it. That's the best thing about a $12,000 German tube mic from the 1950s: You stop hearing the microphone and you just hear the singer. When gear is really great, you don't notice it—you just hear the music. And that's what I want and what I get from Pro Tools."
						%p What he appreciated most about the HDX system is that he wasn't distracted by technical details such as plug-ins opening slowly or limited track counts. "I want it to be a finely tuned instrument so I can stay completely focused on the band and the song," Wells explains. "I want it to sound incredible and [Avid] has really knocked it out of the park. I can get things sounding record-like very, very quickly. There's a lot more wind in the sails with this HDX system. And here in my own studio I love working with it. I don't even think about it. We can start flying immediately."
						%p When asked about the most memorable moment during his visits to Abbey Road, he, once again, returns to that first day in Studio 2. "We were about an hour into the session and eating some sandwiches, and the studio manager comes in and says 'I see you're having lunch, but we have somebody that needs to come in through the back entrance of the studio. Would you mind, terribly? It's Sir Paul McCartney.' I'd been there for an hour—maybe less—in the Beatles room, completely freaking out over the upright piano used on 'Martha My Dear,' and then a Beatle walks through! He says 'Hello. Hello. How are you?' It was totally nuts. It's not something that happens every day there, but it was funny that it happened the first time I visited the place."
						%p Considering that he had such a historic instrument at his fingertips, I asked Wells if he was tempted to use the piano during the Strangefruit session. "Of course," he says enthusiastically. "We absolutely did. It's all over the track."
					.artist#Vrenna
						%h2 For Chris Vrenna, Today’s Pro Tools Delivers Yesterday’s Analog Sounds
						%p Chris Vrenna is no stranger to the digital domain. The Grammy-winning producer, engineer, remixer, songwriter and programmer has a long history of working with technology. Between his work with Nine Inch Nails and Marylin Manson, remixes for David Bowie, U2 and Smashing Pumpkins, and composing for a wide range of video games, Vrenna spends most of his waking hours working in Pro Tools.
						%a{href:"http://www.avid.com/US/about-avid/customer-stories/Chris-Vrenna", target:"_blank", id:"expLink"}
							=image_tag('vrenna.png')
						%p “I was fortunate to have grown up in the early ‘80s, when synthesizers and electronics were really taking off,” he says. “When I was 12 or so, I saw an ad for an electronic drum kit, and saved up all my money to buy one. I fell in love with the idea that I could create beats using any sound at all, not just kick, snare and toms. So for me, the advent of MIDI sequencing and digital recording was just huge.”
						%p.pFloat Pro Tools has always been a big part of Vrenna’s creative arsenal, and the new enhancements to Pro Tools 8 make it an even more powerful tool. He finds the new user interface particularly impressive. “The first thing I said when I booted up the new version was ‘wow, that’s just beautiful!’ I stare at Pro Tools for ten or twelve hours a day, six days a week, and this new interface makes my work a real pleasure.”
						.sideQuote 
							%p The first thing I said when I booted up the new version was ‘wow, that’s just beautiful!’ I stare at Pro Tools for ten or twelve hours a day, six days a week, and this new interface makes my work a real pleasure. 
						%p.pFloat Vintage sounds have always been a big part of Vrenna’s sound, and the arsenal of new virtual instruments in Pro Tools 8 offer a wide-ranging palette of luscious sounds. “There are so many great instruments and sounds in Pro Tools 8,” he says. “Boom is a lot of fun – it’s like having an old (Roland) TR-808 or TR-909 drum machine. Transfuser is insane – a heck of a lot of fun to use. And I love working with Strike, especially the individual note muting. And Vacuum – the sounds are all so fat, so dirty and analog sounding.”
						%p.pFloat Most important for Vrenna, though, is the ease with which Pro Tools 8 allows him to manipulate audio and MIDI in composing and remixing. “MIDI sequencing and sampling has always been part of my sound,” he says, “and Pro Tools 8 enables me to easily and seamlessly integrate that into my work. It’s such a streamlined, intuitive workflow.”
				%a.specialLink{href:'http://www.avid.com/US/about-avid/customer-stories'} See more customer stories on Avid's website.




 
