#avidTabs.staticPage
	.staticContent
		%dl.tabs.three-up
			%dd.active
				%a{href:"#avidProducts"} View Avid Products
			%dd
				%a{href:"#avidResources"} Avid Resources
			%dd
				%a{href:"#avidExperience"} Avid Artist Experience
		%ul.tabs-content
			%li.active#avidProductsTab
			%li#avidResourcesTab
				%h2 Avid Advantage support for Businesses
				%p As a trusted partner, Avid Advantage support is committed to helping you work through whatever comes your way, from reducing downtime and speeding recovery to making the most of your Avid investment, by helping you to:
				%ul
					%li Deploy new features at a predictable expense
					%li Improve your ability to generate revenue from new functions
					%li Reduce downtime with software maintenance releases and faster resolution of issues
					%li Improve efficiency with industry best practices and known solutions
				%p Avid Expert, ExpertPlus and Elite support protects your revenue, reputation, and productivity, no matter what. When you experience unanticipated circumstances, whether it’s sudden downtime or need access to upgrades, we’re here to help you effectively triage and manage your complex systems and unique workflows. 
				%p At the end of the day, our biggest success is yours. 
				%p< 
					Contact your Avid Sales Rep or 
					%a{href:"http://www.avid.com/find-reseller"} Avid reseller 
					to learn more about our options.
				%p< 
					Download the 
					%a{href:'http://www.avid.com/static/resources/common/documents/Avid_Support_brochure_A4_04_2013.pdf'} Avid Advantage Support Plans PDF 
					for more detailed information.
				%table#resourceTable
					%tr
						%td 
						%td Expert
						%td Expert Plus
						%td Elite
					%tr
						%td Available For
						%td Pro Tools, Media Composer and Symphony
						%td All Professional & Enterprise Products
						%td All Professional & Enterprise Products
					%tr
						%td Availability 	
						%td 24x7
						%td 24x7
						%td 24x7
					%tr
						%td Supported Channels
						%td
							%ul
								%li Unlimited Web Support (Next-day)
								%li Critical Phone
								%li Support Forums
						%td
							%ul
								%li Unlimited Web Support (4-hr)
								%li Priority Critical Phone
								%li Support Forums
						%td
							%ul
								%li Unlimited Web Support (1-hr)
								%li Highest Priority Critical Phone
								%li Support Forums
					%tr
						%td Software Upgrades 	
						%td N/A
						%td Included 
						%td Included
					%tr
						%td Contacts 	
						%td Technology User 	
						%td Technology User 	
						%td Technology User
					%tr
						%td Escalation 	
						%td Standard 	
						%td Code Blue 	
						%td Code Blue
					%tr
						%td System Support 	  	
						%td 
						%td
							%span Customer Champion
							%sup> 2 	
						%td 
							%ul 
								%li Advance Exchange (Next-day ship from depot)
								%li 
									%span Health Checks
									%sup> 3
								%li
									%span Customer Champion
									%sup> 2 
					%tr 
						%td For-fee Options 
						%td
							%ul
								%li Advance Exchange (2-business day ship from depot)
								%li 
									%span Health Checks
									%sup> 3
						%td
							%ul
								%li Advance Exchange (Next-business day ship from depot)
								%li 
									%span Health Checks
									%sup> 3
								%li 
									%span Onsite Support
									%sup> 1
						%td 
							%span Onsite Support
							%sup> 1
				#footnotes
					%p 1 – On-site support is provided at Avid’s discretion (not available in all locations)
					%p 2 – A customer champion is available for qualifying customers at Avid’s discretion
					%p 3 – One complimentary health check per year for qualifying customers (non-qualifying accounts may purchase separately, at a 40% discount for Elite customers)
			%li#avidExperienceTab
				%h2 For Chris Vrenna, Today’s Pro Tools Delivers Yesterday’s Analog Sounds
				%p Chris Vrenna is no stranger to the digital domain. The Grammy-winning producer, engineer, remixer, songwriter and programmer has a long history of working with technology. Between his work with Nine Inch Nails and Marylin Manson, remixes for David Bowie, U2 and Smashing Pumpkins, and composing for a wide range of video games, Vrenna spends most of his waking hours working in Pro Tools.
				%a{href:"http://www.avid.com/US/about-avid/customer-stories/Chris-Vrenna", target:"_blank"}
					=image_tag('vrenna.png')
				%p “I was fortunate to have grown up in the early ‘80s, when synthesizers and electronics were really taking off,” he says. “When I was 12 or so, I saw an ad for an electronic drum kit, and saved up all my money to buy one. I fell in love with the idea that I could create beats using any sound at all, not just kick, snare and toms. So for me, the advent of MIDI sequencing and digital recording was just huge.”
				%p.pFloat Pro Tools has always been a big part of Vrenna’s creative arsenal, and the new enhancements to Pro Tools 8 make it an even more powerful tool. He finds the new user interface particularly impressive. “The first thing I said when I booted up the new version was ‘wow, that’s just beautiful!’ I stare at Pro Tools for ten or twelve hours a day, six days a week, and this new interface makes my work a real pleasure.”
				.sideQuote 
					%p The first thing I said when I booted up the new version was ‘wow, that’s just beautiful!’ I stare at Pro Tools for ten or twelve hours a day, six days a week, and this new interface makes my work a real pleasure. 
				%p.pFloat Vintage sounds have always been a big part of Vrenna’s sound, and the arsenal of new virtual instruments in Pro Tools 8 offer a wide-ranging palette of luscious sounds. “There are so many great instruments and sounds in Pro Tools 8,” he says. “Boom is a lot of fun – it’s like having an old (Roland) TR-808 or TR-909 drum machine. Transfuser is insane – a heck of a lot of fun to use. And I love working with Strike, especially the individual note muting. And Vacuum – the sounds are all so fat, so dirty and analog sounding.”
				%p Most important for Vrenna, though, is the ease with which Pro Tools 8 allows him to manipulate audio and MIDI in composing and remixing. “MIDI sequencing and sampling has always been part of my sound,” he says, “and Pro Tools 8 enables me to easily and seamlessly integrate that into my work. It’s such a streamlined, intuitive workflow.”

 
