#avidTabs.staticPage
	.staticContent
		%dl.tabs.three-up
			%dd.active
				%a{href:"#avidProducts"} View Avid Products
			%dd
				%a{href:"#avidResources"} Avid Resources
			%dd
				%a{href:"#avidExperience"} Avid Artist Experience
		%ul.tabs-content
			%li.active#avidProductsTab
				%ul.pdfList.block-grid.three-up
					%li 
						%a{href:'#'} 
							%p Exchanges
					%li 
						%a{href:'#'} 
							%p 3rd Party Plugins
					%li 
						%a{href:'#'} 
							%p Avid Scorch
					%li 
						%a{href:'#'} 
							%p Fast Track Family
					%li 
						%a{href:'#'} 
							%p Mbox Family
					%li 
						%a{href:'#'} 
							%p Protools Family
					%li 
						%a{href:'#'} 
							%p Sibelius Family
					%li 
						%a{href:'#'} 
							%p Upgrades and Updates
					%li 
						%a{href:'#'} 
							%p Network and Storage
			%li#avidResourcesTab
				%ul.pdfList.block-grid.two-up
					%li 
						%a{href:'#'} 
							%p Worldwide Contact Info
					%li 
						%a{href:'#'} 
							%p Repair Centers
					%li 
						%a{href:'#'} 
							%p Avid Training
					%li 
						%a{href:'#'} 
							%p Compatibility Charts
				#avidSupport
					%h3 Technical Support:
					%h4 Avid Assisted Support
					%p< 
						You may purchase Avid Support Codes for per incident support for any Digidesign product. Please visit the 
						%a{href:'shop.avid.com/store/category.do?category=services-phone-support'} Avid Web Store.
					%p< 
						%a{href:'http://www.avid.com/US/support/asc/digidesign'} Learn more
						about Avid Support Codes.
					%p<
						%a{href:'http://www.avid.com/US/support/support-center'} Support Center - 
						submit/manage a support request online
					%p Tel: 650-731-6100 
					%p Fax: 650-731-6375
					%p Monday - Thursday 8am-5pm PST, Friday 8am-4pm PST
			%li#avidExperienceTab
				%h2 For Chris Vrenna, Today’s Pro Tools Delivers Yesterday’s Analog Sounds
				%p Chris Vrenna is no stranger to the digital domain. The Grammy-winning producer, engineer, remixer, songwriter and programmer has a long history of working with technology. Between his work with Nine Inch Nails and Marylin Manson, remixes for David Bowie, U2 and Smashing Pumpkins, and composing for a wide range of video games, Vrenna spends most of his waking hours working in Pro Tools.
				%a{href:"http://www.avid.com/US/about-avid/customer-stories/Chris-Vrenna", target:"_blank", id:"expLink"}
					=image_tag('vrenna.png')
				%p “I was fortunate to have grown up in the early ‘80s, when synthesizers and electronics were really taking off,” he says. “When I was 12 or so, I saw an ad for an electronic drum kit, and saved up all my money to buy one. I fell in love with the idea that I could create beats using any sound at all, not just kick, snare and toms. So for me, the advent of MIDI sequencing and digital recording was just huge.”
				%p.pFloat Pro Tools has always been a big part of Vrenna’s creative arsenal, and the new enhancements to Pro Tools 8 make it an even more powerful tool. He finds the new user interface particularly impressive. “The first thing I said when I booted up the new version was ‘wow, that’s just beautiful!’ I stare at Pro Tools for ten or twelve hours a day, six days a week, and this new interface makes my work a real pleasure.”
				.sideQuote 
					%p The first thing I said when I booted up the new version was ‘wow, that’s just beautiful!’ I stare at Pro Tools for ten or twelve hours a day, six days a week, and this new interface makes my work a real pleasure. 
				%p.pFloat Vintage sounds have always been a big part of Vrenna’s sound, and the arsenal of new virtual instruments in Pro Tools 8 offer a wide-ranging palette of luscious sounds. “There are so many great instruments and sounds in Pro Tools 8,” he says. “Boom is a lot of fun – it’s like having an old (Roland) TR-808 or TR-909 drum machine. Transfuser is insane – a heck of a lot of fun to use. And I love working with Strike, especially the individual note muting. And Vacuum – the sounds are all so fat, so dirty and analog sounding.”
				%p Most important for Vrenna, though, is the ease with which Pro Tools 8 allows him to manipulate audio and MIDI in composing and remixing. “MIDI sequencing and sampling has always been part of my sound,” he says, “and Pro Tools 8 enables me to easily and seamlessly integrate that into my work. It’s such a streamlined, intuitive workflow.”

 
