-provide :title, '| Events'
#eventsPage.staticPage
	.staticContent
		#eventSlider
			=render partial: 'shared/event', collection: @content.events


=content_for :scripts do
	:javascript
		$(function() {
			$('#eventSlider').orbit({
				timer: false,
        fluid: '16x6',
        bulletThumbs: false,
        animation: "fade",
        animationSpeed: 1500,
        directionalNav: false,
			});
		});