%h3 This is the gallery index page
.galleryCategories
	.gCat
		=link_to "Gallery type 1", gallery_index_path(g_type: 'House of Worship')
	.gCat
		=link_to "Gallery type 2", gallery_index_path(g_type: 'Post Production')
	.gCat
		=link_to "Gallery type 3", gallery_index_path(g_type: 'Music Production')
	.gCat
		=link_to "Gallery type 4", gallery_index_path(g_type: 'Education')