-provide :title, '| Home'
#homePage
  #homeSlider
    =render partial: 'shared/home_page_slide', collection: @content.home_page_slides.limit(4)
    
  %nav
    %ul.homeNavList
      %li.current
        %a{href:"#title1"}
      %li
        %a{href:"#title2"}
      %li
        %a{href:"#title3"}
      %li
        %a{href:"#title4"}
    %ul.homeNavThumb
      -@content.home_page_slides.limit(4).each do |img|
        %li
          %a{href:"#title1"}
            =image_tag(img.image.url(:thumb))
  #thumbTrigger
    %p close (x)

  =content_for :scripts do
    :javascript
      $(function() {
        $('#homeSlider').orbit({
          animation: "fade",
          animationSpeed: 1200,
          advanceSpeed: 10000,
          directionalNav: false,
          bulletThumbs: true,
          afterSlideChange: function (){
            var myDelay2 = setTimeout(function() {
              $('.slideCopy').animate({
                opacity: 1,
              },750);
            }, 1500);
            var myDelay3 = setTimeout(function() {
              $('.slideCopy').animate({
                opacity: 0,
              },750);
            }, 8000);
          }
        });

        var length = $('ul.homeNavList li').length - 1;  
        $('ul.homeNavList li a, ul.homeNavThumb li a').on('click', function(e){
          var index = $(this).parent().index();
          $(this).parent().addClass('current').siblings().removeClass('current');
          var otherIndex = $(e.target.offsetParent).siblings().find('li').removeClass('current').get(index); 
          $(otherIndex).addClass('current'); 
          $('#homeSlider').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });

        $('#homeSlider').on('orbit.next', function(){
          var current = $('.current').removeClass('current');
          console.log(current); 
          var next = current.next()
          if (next.length) {
            next.addClass('current');
          }else { 
            current.siblings().first().addClass('current');
          }
        }); 
      });

    :javascript
      $(function() {
        $('.homeNavList').mouseover(
          function() {
            console.log('in');
            var myDelay = setTimeout(function() {
              $('.homeNavThumb').animate({
                opacity: 1,
                top: '90px'
              },750);
              $('#thumbTrigger').delay(750).animate({
                opacity: 1,
              },250);
              }, 1000 );
            $('.homeNavList').mouseout(function(){
              clearTimeout(myDelay);
            });
          }
        );
        $("#thumbTrigger").click(function() {
          $('.homeNavThumb').animate({
              opacity: 0,
              top: '-45px'
            },750);
          $('#thumbTrigger').animate({
              opacity: 0,
            },250);
        });
      });

    :javascript
      $(window).ready(function (){
        var myDelay2 = setTimeout(function() {
          $('.slideCopy').animate({
            opacity: 1,
          },750);
        }, 1500);
        var myDelay3 = setTimeout(function() {
          $('.slideCopy').animate({
            opacity: 0,
          },750);
        }, 8000);
      });
