#homePage
  #homeSlider
    #slide1.homeSlide
      .slideCopy
        %h2 Pro Audio Enthusiasts
        %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Voluptatem eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    #slide2.homeSlide
      .slideCopy
        %h2 Better Sound Through Superior Technology. 
        %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. voluptatem accusantium doloremque laudantium, totam rem aperiam.
    #slide3.homeSlide
      .slideCopy
        %h2 Westlake Pro Proudly Outfits the Bat Cave
        %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

  #homeFeatured
    #col1.six.columns
      .four.columns= image_tag "http://placehold.it/100x125"
      .eight.columns
        %h4 Awesome Product 1
        %p You really ought to buy one, seriously. Voluptatem accusantium doloremque laudantium, totam rem aperiam.
    #col2.six.columns
      = image_tag "http://placehold.it/500x130&text=Banner+for+Upcoming+Event"
      /#col3.four.columns
      /=semantic_form_for 'email', url: '/email_contact', method: :post do |f|
      /  =f.inputs do
      /    =f.input :name, as: :string, wrapper_html: {class: 'input1'}, input_html: {class: 'input1', placeholder:'Your Name'}
      /    =f.input :email, as: :email, wrapper_html: {class: 'input1', placeholder:'Your Email'}, input_html: {class: 'input1'}
      /    =f.input :message, as: :text, input_html: {}
      /  =f.actions do
      /    =f.action :submit
      /%form
      /  %input.input1{placeholder:'Your Name'}
      /  %input.input1{placeholder:'Your Email'}
      /  %textarea{placeholder:'Send Us a Message'}
      /  %input{type:'submit', value:'Submit'}

  =content_for :scripts do
    :javascript
      $(function() {
        $('#homeSlider').orbit({
          animation: "fade",
          animationSpeed: 1200,
          advanceSpeed: 6000,
        });
      });

    :javascript
      $(window).ready(function(){
        var slideWidth = $("#homeSlider").width();

        if(slideWidth > 1700) {$(".homeSlide").css("backgroundSize", "100%");}
      });

      $(window).resize(function(){
        var slideWidth = $("#homeSlider").width();

        if(slideWidth > 1700) {$(".homeSlide").css("backgroundSize", "100%");}
        else if(slideWidth < 1700) {$(".homeSlide").css("backgroundSize", "auto");}
      });