-provide :title, '| Products, Line Card'
#line_card.staticPage
	.staticContent
		%ul
			-@content.categories.each do |cat|
				%li
					%p= cat.title
		%ul
			=render partial: 'shared/category', collection: @content.categories
