#stackPage  
  %ul.featured
    =render @stack
  =link_to 'Add Slides', edit_stack_path(@stack), :id => "addLink", :class => "button"
  %nav.stackNav
    %ul.side-nav.stackNavList
      - @stack.slides.each do |slide|
        %li= link_to "#{slide.title}", "##{slide.title}"

//=debug @stack

=content_for :scripts do
  :javascript
    $(function() {
      $('.featured').orbit({
        timer: false,
        fluid: '16x6',
        bulletThumbs: false,
        animation: "vertical-slide",
        directionalNav: true,
      });

      $(document).on('mousewheel', function(e){
        var temp = (0 < e.originalEvent.wheelDelta ? 'orbit.next' : 'orbit.prev');
        $('.featured').trigger(temp);
        return false;

      });

      var $children = $('.stackNavList').children().length();

      $children.css()

    });
