<div class="staticPage">
<div class="staticContent">
<h2 id="pricing-policy">Pricing Policy</h2>

<p>Price is always a big concern when buying equipment. We get it. Gear can be expensive, and we don’t want you to pay more at Westlake Pro than you would elsewhere.</p>

<p>This is our pricing policy, simply put: We guarantee the lowest price. We will not only compete with, but we will beat any price, anywhere: on the internet, in print, big box or small box store - ANYWHERE! We don’t expect you to pay more to shop with us, PERIOD! .  </p>

<p>When you choose to shop with Westlake Pro, we don’t expect you to pay more money for the same item <sup>1</sup> than you would buying it elsewhere.</p>

<p>While no one can possibly know what every retailer in the country is selling every item for, or every sale that is happening from Los Angeles to New York, our years of experience in the Los Angeles market - the most competitive in the world - gives us a unique insight into a wide range of products.  If our price is too high on a given product, let us know. We can be very aggressive when it comes to price. Additionally, we also offer a 30-day price protection policy on most new items<sup>2</sup>, so you are completely protected.</p>

<p><sup>1</sup> Items refer to new, identical products (in other words, an “apples to apples” comparison). This excludes but is not limited to demos, floor models, B-stock, or used items.</p>

<p><sup>2</sup> Because of computer industry standards, computers and computer hardware may not be covered by our 30 day price protection policy. This also includes, but is not limited to displays, RAM and hard drives. </p>

<h2 id="return-policy">Return Policy</h2>

<p>It is our goal that you are 100% satisfied with your purchase. We pride ourselves in our customer’s satisfaction. Should you purchase an item that is defective, or for some reason does not work out, we can help.</p>

<h2 id="new-gear">New Gear</h2>

<p>New items may be returned within 30 days of purchase (see exceptions below) and we will refund your purchase price. Returned items must be in brand-new condition, showing no signs of wear or use. All manuals, cables, paperwork, or any other originally included items must be present in the original packaging. Your refund will be promptly processed upon successful evaluation of your returned item from our trained category professionals. Refunds are made for product value only, excluding tax, shipping and handling charges. If you received Free Shipping on your order, the value of the uncharged shipping cost will be deducted from your refund. Some items may be subject to a minimum 15% restocking fee.</p>

<h2 id="pre-owned-gear">Pre-Owned Gear</h2>

<p>All of our used equipment is put through a rigorous examination and certification process. Westlake Pro Platinum Certified Pre-owned gear may not be returned. The only scenario in which we would accept a return is in the highly unlikely circumstance that your product is delivered in non-working condition. Under our sole discretion, we reserve the right to repair or replace damaged or defective products. Some items may be subject to a minimum 15% restocking fee.</p>

<h2 id="non-returnable-items">Non-returnable Items</h2>

<p>There are certain items that cannot be returned. These items include:</p>

<ul>
<li><p>Special orders</p></li>
<li><p>Software</p></li>
<li><p>Over-size or over-weight items</p></li>
<li><p>Custom cables</p></li>
<li><p>Furniture</p></li>
<li><p>Discontinued products, closeouts, and used products</p></li>
<li><p>Personal items (earphones, instrument mouthpieces, etc.)</p></li>
<li><p>Microphones </p></li>
<li><p>Vintage or Used Gear</p></li>
</ul>

<h2 id="how-to-return">How To Return</h2>

<p>Please call your Westlake Pro associate (printed on your invoice) at 323-845-1145 for a Return Authorization. They will help you out with any questions you may have.</p>

<h2 id="shipping-policy">Shipping Policy</h2>

<p>Most products are shipped from our store via UPS. Orders are fulfilled as soon as possible. All orders are followed up with a phone call by Westlake Pro staff to let the customer know the ship date and projected arrival. If there are any issues with a product being out of stock, or if the manufacturer drop-ships the product, the WP Sales team will explain this via phone call and email.</p>

<h2 id="privacy-policy">Privacy Policy</h2>

<p>This Privacy Policy governs the manner in which Westlake Pro, Inc collects, uses, maintains and discloses information collected from users (each, a "User") of the westlakepro.com website ("Site"). This privacy policy applies to the Site and all products and services offered by Westlake Pro, Inc.</p>

<h2 id="personal-identification-information">Personal identification information</h2>

<p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, place an order, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, credit card information. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>

<h2 id="non-personal-identification-information">Non-personal identification information</h2>

<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>

<h2 id="web-browser-cookies">Web browser cookies</h2>

<p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>

<h2 id="how-we-use-collected-information">How we use collected information</h2>

<p>Westlake Pro, Inc may collect and use Users personal information for the following purposes:</p>

<ul>
<li><p>To improve customer service
Information you provide helps us respond to your customer service requests and support needs more efficiently.</p></li>
<li><p>To personalize user experience
We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.</p></li>
<li><p>To improve our Site
We may use feedback you provide to improve our products and services.</p></li>
<li><p>To process payments
We may use the information Users provide about themselves when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.</p></li>
<li><p>To run a promotion, contest, survey or other Site feature
To send Users information they agreed to receive about topics we think will be of interest to them.</p></li>
<li><p>To send periodic emails
We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or User may contact us via our Site.</p></li>
</ul>

<h2 id="how-we-protect-your-information">How we protect your information</h2>

<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>

<p>Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures. Our Site is also in compliance with PCI vulnerability standards in order to create as secure of an environment as possible for Users.</p>

<h2 id="sharing-your-personal-information">Sharing your personal information</h2>

<p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.</p>

<h2 id="changes-to-this-privacy-policy">Changes to this privacy policy</h2>

<p>Westlake Pro, Inc has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site, revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>

<h2 id="your-acceptance-of-these-terms">Your acceptance of these terms</h2>

<p>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>

<h2 id="contacting-us">Contacting us</h2>

<p><strong>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:<br/>Westlake Pro, Inc<br/><a href="http://westlakepro.com">westlakepro.com</a><br/>4101 Lankershim Blvd Universal City, CA 91602<br/>323-845-1145<br/>sales@westlakepro.com</strong></p>

<p>This document was last updated on August 23, 2013</p>
</div>
</div>