-provide :title, '| What We Do'
.stackPage 
  %nav.stackNav
    %ul.stackNavList
      %li= link_to "Sales", "#title1"
      %li= link_to "Design", "#title2"
      %li= link_to "Integration", "#title3" 
  %ul.featured
    %li#wwd1
      .slideContent
        %h1 Welcome To Westlake Pro
        .stackFrontCopy  
          .wwd1Copy
            %h2 Sales
            %p Whatever it is you need, we can get it. We have relationships with all major audio and video manufacturers and vendors, enabling us to get you exactly the right gear you need. Check out our product line card<a href="/line_card"> here</a>
          .wwd1Copy
            %h2 Design
            %p We feel that nothing is more important than starting with the right plan in place, taking into consideration every element of your workflow before you make any buying decisions. A good design saves you money, time, and multiple headaches.
          .wwd1Copy
            %h2 Integration
            %p We have years of experience putting together some of the best audio and video production suites in the country. We have built studios all over the world and have the resources and know-how to realize your biggest dreams for you.
          =link_to "Take a loot at the studios we've designed and built here", gallery_path('all'), :class => "specialLink"
    %li#integrations.defaultSlide2.noMobile
      .slideContent
        =image_tag "design_image.png"
        .stackSlideCopy  
          %h2 Integration
          %p Westlake Pro can  provide integration services from small editing suites to major installations including studio design and consultation, software configuration and networking, wiring, and furniture. Complete training packages can be customized for your staff, so your equipment investment can be utilized to its full potential.
          =link_to "Take a loot at the studios we've designed and built here", gallery_path('all'), :class => "specialLink"
    %li#design.defaultSlide2.noMobile
      .slideContent
        =image_tag "design_image.png"
        .stackSlideCopy
          %h2 Design
          %p Today’s audio production technology requires careful planning to achieve the best possible result. Our expert staff will work with you to provide a total solution to your music or post production needs. From small studios to large commercial installations, Westlake Pro will match the best technology and system design to meet your requirements. Your design will be optimzed based on your goals, objectives and budget.
          =link_to "Take a loot at the studios we've designed and built here", gallery_path('all'), :class => "specialLink"
    %li#sales.defaultSlide2.noMobile
      .slideContent
        =image_tag "sales_image.png"
        .stackSlideCopy
          %h2 Sales
          %p At Westlake Pro, you’ll find every major brand of pro audio equipment at the lowest prices. Take the guess work out of buying equipment and software. Visit our two fully functional studios to evaluate gear in a real studio environment.
          %p Meet with our experienced and knowledgeable sales and technical service staff to get expert advice from the best in the audio business. Discuss your needs and get the right equipment at the best possible price - all in a calm, comfortable environment.
          %a.specialLink{href:'#'} View our pricing policy here
          = link_to 'View our product line card here', '/line_card', :class => "specialLink"

//=debug @stack

=content_for :scripts do
  :javascript
    if (window.matchMedia("(min-device-width: 768px)").matches) {

      $(function() {
        
        $('.featured').orbit({
          timer: false,
          fluid: '16x6',
          bulletThumbs: false,
          animation: "fade",
          animationSpeed: 1000,
          directionalNav: false,
          afterSlideChange: function (){
            var sSCopy = $('.defaultSlide2 .stackSlideCopy');
            var sSImg = $('.defaultSlide2 .slideContent > img');
            var footP = $('#mainFoot').offset().top;
            var copyP = $(sSImg).offset().top + sSImg.height() + $(sSCopy).height();

            if (footP < copyP ){
                sSCopy.css({'position':'fixed','bottom':'50px'});
            }
            else{
                sSCopy.css('position', 'static');
            }
          }
        });

        $(document).on('keydown', function(e){
          var temp = e.originalEvent.keyCode; 
          if(temp == 38 || temp == 40) {
            if(temp == 40) {
              temp = 'orbit.next';
            } else {
              temp = 'orbit.prev'
            }
            $('.featured').trigger(temp);  
          }
        });


        var length = $('ul.stackNavList li').length - 1;  
        $('ul.stackNavList li a').on('click', function(e){
          var index = $(this).parent().index();
          index = (length-index) +1 ; 
          $(this).parent().addClass('current');
          $('.featured').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });
      });
    }
    else {
      console.log('too small for slider');
    }
