.stackPage  
  %ul.featured
    %li
      %h1 About
    %li
      %h2 Installations
      %p blahblahblahblah 
      =image_tag "rails.png"
    %li 
      %h2 Design
      %p blahblahblahblah 
      =image_tag "rails.png"
    %li
      %h2 Sales
      %p blahblahblahblah 
      
  %nav.stackNav
    %ul.side-nav.stackNavList
      %li= link_to "Sales", "#title1"
      %li= link_to "Design", "#title2"
      %li= link_to "Installations", "#title3"

//=debug @stack

=content_for :scripts do
  :javascript
    if (window.matchMedia("(min-device-width: 768px)").matches) {

      $(function() {
        
        $('.featured').orbit({
          timer: false,
          fluid: '16x6',
          bulletThumbs: false,
          animation: "vertical-slide",
          animationSpeed: 500,
          directionalNav: false,
        });

        $(document).on('mousewheel DOMMouseScroll', function(e){
          console.log(e); 
          var temp = (0 < e.originalEvent.wheelDelta ? 'orbit.next' : 'orbit.prev');
          $('.featured').trigger(temp);
          return false;
        });

        $(document).on('keydown', function(e){
          var temp = e.originalEvent.keyCode; 
          if(temp == 38 || temp == 40) {
            if(temp == 40) {
              temp = 'orbit.next';
            } else {
              temp = 'orbit.prev'
            }
            $('.featured').trigger(temp);  
          }
        });


        var length = $('ul.stackNavList li').length - 1;  
        $('ul.stackNavList li a').on('click', function(e){
          var index = $(this).parent().index();
          index = (length-index) +1 ; 
          $(this).parent().addClass('current');
          $('.featured').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });
      });
    }
    else {
      console.log('too small for slider');
    }
