-provide :title, '| What We Do'
.stackPage 
  %nav.stackNav
    %ul.stackNavList
      %li= link_to "Sales", "#title1"
      %li= link_to "Design", "#title2"
      %li= link_to "Integration", "#title3" 
  %ul.featured
    %li#wwd1
      .slideContent
        =image_tag('wwd_splash.png')
        .stackFrontCopy  
          .wwd1Copy
            =link_to '', '#title1', :class => "wwd1CopyLink" 
            %h2 Sales
            %p Meet with our highly experienced ,and knowledgeable sales and technical service staff to get expert advice from the best in the audio business. Discuss your needs and get the right equipment at the best possible price - all in a calm, comfortable environment.
          .wwd1Copy
            =link_to '', '#title2', :class => "wwd1CopyLink" 
            %h2 Design
            %p Nothing is more important than starting with the right plan. Westlake will take into consideration every aspect, including budget, workflow, and growth, so you can make the most informed buying decision possible.
          .wwd1Copy
            =link_to '', '#title3', :class => "wwd1CopyLink" 
            %h2 Integration
            %p Westlake Pro can  provide integration services from small editing suites to major installations, including studio design, consultation, software configuration, networking, wiring, and furniture.
          =link_to "Click here to view our studio gallery", gallery_path('studios'), :class => "specialLink"
    %li#integrations.defaultSlide2.noMobile
      .slideContent
        =image_tag "integration_image.png"
        .stackSlideCopy  
          %h2 Integration
          %p Today's audio production technology requires careful planning to achieve the best possible result. Westlake Pro can provide integration services from small editing suites to major installations including studio design and consultation, software configuration and networking, wiring, and furniture. Our expert staff will work with you to provide a total solution to your music or post production needs, and complete training packages can be customized for your staff, so your equipment investment can be utilized to its full potential. Westlake Pro will match the best technology and system design to meet your requirements based on your goals, objectives, and budget.
    %li#design.defaultSlide2.noMobile
      .slideContent
        =image_tag "design_image.png"
        .stackSlideCopy
          %h2 Design
          %p Westlake Pro's in-house Technical Services department can provide studio design and consultation, system installation, software configuration and networking, wiring and furniture for small home studios to major studio installations. In addition, complete training packages can be customized to fit a client's needs.
          =link_to "Click here to view our studio gallery", gallery_path('studios'), :class => "specialLink"
          %p Westlake Pro caters to everyone from indie artists and producers setting up their own home studios to numerous corporations and individuals, including Oscar, Grammy, Emmy, and Clio Award winners. In addition, a distinguishing element of Westlake Pro is our team approach, where the in-house Technical Services staff works closely with the Sales staff to ensure the best outcome for the client.
    %li#sales.defaultSlide2.noMobile
      .slideContent
        =image_tag "sales_image.png"
        .stackSlideCopy
          %h2 Sales
          %p There is more to sales than just selling.
          %p Whether our clients are seeking state-of-the-art audio gear or want to build their home or commercial facilities from the ground up, Westlake Pro offers a friendly and knowledgeable staff, a comprehensive product selection, and the ability to see and hear the products in a studio setting and competitive prices in a clean and calm, professional environment.
          %p Collectively, our staff has a tremendous amount of experience with all forms of audio production and live sound. Our sales and technical staff is constantly being challenged by, trained on, and exposed to leading edge technology for the various markets they specialize in. There is no substitute for experience and no way to minimize the value of working with a skilled consultant who understands your objectives and workflow. Our experience, training, and industry knowledge can be a very valuable asset to you.
          %a.specialLink{href:'#'} View our pricing policy here
          = link_to 'View our product line card here', '/line_card', :class => "specialLink"
          %p Westlake Pro offers a large selection of name brand audio and recording equipment, computers and music and recording software, and sound reinforcement and musical instruments, at guaranteed low prices. Also included are technical services, consoles and components, console automation, recorders, synchronizers/interfaces, monitor/speaker systems, amps, signal processors, noise reduction/restoration systems, microphones, digital workstations, ISDN, sound effects libraries and support equipment.

//=debug @stack

=content_for :scripts do
  :javascript
    if (window.matchMedia("(min-device-width: 768px)").matches) {
      $(function() {
        
        $('.featured').orbit({
          timer: false,
          fluid: '16x6',
          bulletThumbs: false,
          animation: "fade",
          animationSpeed: 1000,
          directionalNav: false,
        });

        $(document).on('keydown', function(e){
          var temp = e.originalEvent.keyCode; 
          if(temp == 38 || temp == 40) {
            if(temp == 40) {
              temp = 'orbit.next';
            } else {
              temp = 'orbit.prev'
            }
            $('.featured').trigger(temp);  
          }
        });


        var length = $('ul.stackNavList li').length - 1;  
        $('ul.stackNavList li a').on('click', function(e){
          var index = $(this).parent().index();
          index = (length-index) +1 ; 
          $(this).parent().addClass('current');
          $('.featured').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });
        $('.wwd1CopyLink').on('click', function(e){
          var index = $(this).parent().index();
          index = (length-index) +1 ; 
          $(this).parent().addClass('current');
          $('.featured').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });
      });
    }
    else {
      console.log('too small for slider');
    }
