%h1 gallery
%ul.block-grid.five-up(data-clearing=true)
	=render partial: 'shared/gallery_image', collection: @gallery_images 
	/%li
	/	%a(href="http://placekitten.com/g/1000/800")
	/		%img(src="http://placekitten.com/g/100/100")
	/%li
	/	%a(href="http://placekitten.com/g/1000/800")
	/		%img(src="http://placekitten.com/g/100/100")
	/%li
	/	%a(href="http://placekitten.com/g/1000/800")
	/		%img(src="http://placekitten.com/g/100/100")
	/%li
	/	%a(href="http://placekitten.com/g/1000/800")
	/		%img(src="http://placekitten.com/g/100/100")
	/%li
	/	%a(href="http://placekitten.com/g/1000/800")
	/		%img(src="http://placekitten.com/g/100/100")

