=form_for EventContact.new, url: "events/#{event.id}/rsvp", remote: true do |f|
	=f.text_field :name, placeholder: 'First Name'
	=f.text_field :last_name, placeholder: 'Last Name'
	=f.email_field :email, placeholder: 'Email'
	=f.text_field :phone, placeholder: 'Phone #'
	=select_tag :source, options_for_select(['Ad', 'Word of Mouth', 'Salesperson', 'E-mail', 'Our Website', 'Social Media', 'Other']), placeholder: 'Where did you hear about the event'
	=f.submit 'Submit'
