.announcementContent{
	position:relative;
	min-height:200px;
}

div[class^="announcement-"]{
	position:absolute;
	width:33%;
}
div[class^="announcement-top"]{
	top:0;
}
div[class^="announcement-bottom"]{
	top:300px;
}
.announcementContent{
	div[class$="-right"]{
		right:0;
	}
	div[class$="-center"]{
		left:50%;
		margin-left:-16.5%;
	}
	div[class$="-left"]{
		left:0;
	}
}
