$textColor1: white;
$textColor2: rgb(100,100,100);
$bgColor1: rgb(225,225,225);
$bgColor2: rgb(250,250,250);

$contentPadding:0 6%;
$footHeight: 35px;

$rightBorder:2px solid rgba(255,255,255,0.3);
$leftBorder:1px solid rgba(110,110,110,0.4);

$headFont: 'Roboto', 'Myriad Pro', arial, sans-serif;
$bodyFont: 'Quicksand', 'Myriad Pro', arial, sans-serif;

@font-face {
  font-family: 'Futura-BoldOblique';
  src: url(font-path('Futura-BoldOblique.ttf')) format('truetype');
}

//gradients
.gradientBack {
   background-color: $bgColor2; 
   /* fallback image */
   //background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($bgColor2), to($bgColor1));
   background-image: -webkit-linear-gradient(top, $bgColor2, $bgColor1); 
   background-image: -moz-linear-gradient(top, $bgColor2, $bgColor1);
   background-image: -ms-linearz-gradient(top, $bgColor2, $bgColor1);
   background-image: -o-linear-gradient(top, $bgColor2, $bgColor1);
}
.gradientBack2 {
   background-color: $bgColor2; 
   /* fallback image */
   //background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from($bgColor1), to($bgColor2));
   background-image: -webkit-linear-gradient(top, $bgColor1, $bgColor2); 
   background-image: -moz-linear-gradient(top, $bgColor1, $bgColor2);
   background-image: -ms-linear-gradient(top, $bgColor1, $bgColor2);
   background-image: -o-linear-gradient(top, $bgColor1, $bgColor2);
}
#mainNav li a:hover {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjE5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(140,140,140,0) 0%, rgba(75,75,75,0.19) 46%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,140,140,0)), color-stop(46%,rgba(75,75,75,0.19)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(140,140,140,0) 0%,rgba(75,75,75,0.19) 46%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(140,140,140,0) 0%,rgba(75,75,75,0.19) 46%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(140,140,140,0) 0%,rgba(75,75,75,0.19) 46%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(140,140,140,0) 0%,rgba(75,75,75,0.19) 46%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008c8c8c', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
	}
//end gradients

////Link Styling
a:link{
	color:$textColor2;
}
a:visited{
	color:$textColor2;
}
a:hover{
	color:darken($textColor2,20%) !important;
}
//
//////////Template 
body, html {
	width:100%;
	height:100%;
}

body{
	background-color:$bgColor1 !important;
}

h1, h2, h3, h4, h5, h6 {
	color:$textColor2;
	font-family:$headFont;
	font-weight:300;
}

p, a, li, span {
	margin-bottom:0px;
	color:$textColor2;
	font-family:$bodyFont;
}

#mainHead {
	padding:$contentPadding;
	width:100%;
	&.spreeHeader{width:auto;}
	min-width:768px;
	min-height:70px;
	border-bottom:2px solid rgb(140,140,140);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .5);
	position:relative;
	z-index: 8;
	overflow:auto;
}
#logo{
	margin:.8em 0 0;
	height:inherit;
	h2{
		width:100%;
		font-size:2.2em;
		margin-top:.2em;
	  width: 165px;
		a{
			font-family:$headFont;
		}
	}
}
#mainNav{
	overflow-y:hidden;
	li {
		height:70px;
		margin-top:-7px;
		margin-left:-3px;
		padding:0;
		display:inline-block;
		padding-top:1.8em;
		
		a {
			font-size:1.3em;
			padding:1em .6em;
			border-right:$rightBorder;
			border-left:$leftBorder;
			&.noneL{border-left:none !important;}
			&#avidLink{border-right:none !important;}
		}
	}
}
#avidLogo{
	max-height:25px;
	position: relative;
	top:7px;
}
#logIn {
	a.button{
		width:75px;
		margin:20px 20px 0 -25px;
	}
}
#logInModal{
	form {margin:10px 0;}
	form input:nth-child(3){
		margin-top:.5em;
	}
}
#mainContent{
	min-width:768px;
	border-top:1px solid white;
	background-color:$bgColor1;
}
#mainFoot{
	.container{
		display:block;
	}
	width:100%;
	padding:$contentPadding;
	height:$footHeight;
	position:fixed;
	bottom:0px;
	z-index:10;
	background-color:rgb(220,220,220);
	border-top:2px solid white;
	//overflow-y:hidden;
	>div{
		display:inline-block;
	}
	&.spreeFooter{
		position:static !important;
	}
}
#footCopy{
	width:100%;
	span{
		height:100%;
		padding-top:.5em;
		font-size:1em;
		float:left;
		text-align: center;
		margin-left:2.5%;
		&:first-child{
			margin-left:0;
		}
	}
}

///////////Pages
/////Home Page
#homePage{position:relative;}
#homeSlider{
	margin-bottom:0px;
	width:100%;
	min-height:380px;
	max-height:650px;
	img{
		width:100%;
	}
}
.orbit-wrapper .slider-nav span{
		&.right, &.left{
			margin-top:-75px;
		}
	}
#homeFeatured{
	position:absolute;
	bottom:0;
	z-index:7;
	width:100%;
	padding:0 13%;
	height:160px;
	background-color:$bgColor1;
	box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, .5);
	>div{
		height:100%;
		padding-top:1.1em;
	}
}
#col1, #col2 {
	img{
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5);
	}
}
#col1::after{
	position:absolute;
	content: '';
	top:15px;
	bottom:30px;
	left:0;
	right:0;
	border-right:$rightBorder;
}
#col2::before{
	position:absolute;
	content: '';
	top:15px;
	bottom:30px;
	left:0;
	right:0;
	border-left:$leftBorder;
}
#col2{
	padding:0 3%;
	p{
		//font-size:1.15em;
		padding:0;
	}
}
//#col3 form {
//	.input1 {
//		width:49%;
//	}
//	textarea{
//		width:99%;
//		margin:.5em 0;
//	}
//}

///Home Slides
.slideCopy{
	padding:20px;
	position:absolute;
	z-index:5;
	background-color:rgba(140,140,140,0.6);
	h2, p{color:white;}
	h2 {
		font-size:2.5em;
		line-height:1.2em;
	}
	p{
		font-size:1.4em;
		line-height:1.4em;
	}
}
.homeSlide{
	background-position:center center;
}
#slide1{
	background:url(asset-path('panorama.jpg', image)) no-repeat;
	.slideCopy{
		max-width:450px;
		top:75px;
		left:100px;	
	}
}
#slide2{
	background:url(asset-path('panorama2.jpg', image)) no-repeat;
	.slideCopy{
		max-width:470px;
		top:120px;
		right:100px;
	}
}
#slide3{
	background:url(asset-path('panorama3.jpg', image)) no-repeat;
	.slideCopy{
		background-color:rgba(100,100,100,0.6);
		max-width:475px;
		top:85px;
		right:100px;
	}
}
//////
////// Stacks Page
#stackPage{
	padding-bottom:$footHeight;
}
ul.featured.orbit{
	margin-bottom:0px;
}
.stackNav{
	position:absolute;
	top:35%;
	left:20px;
	z-index:8;
	padding:0 10px;
	background-color:rgba(180,180,180,0.4);
	li {
		padding:0 5px;
		//&:hover{background-color:rgba(180,180,180,0.7);}
		a{
			color: white;
			&:hover{text-decoration:underline;}
		}
	}
}

#addLink{
	position:absolute;
	top:65px;
	right:75px;
	z-index:9;
}
//////
////// Backend Styles
.backend{
	padding-bottom:$footHeight;
}
