$textColor1: white;
$textColor2: rgb(100,100,100);
$bgColor1: rgb(200,200,200);
$bgColor2: rgb(250,250,250);

$contentPadding:0 3%;

//gradients
.gradientBack {
   background-color: $bgColor2; 
   /* fallback image */
   //background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($bgColor2), to($bgColor1));
   background-image: -webkit-linear-gradient(top, $bgColor2, $bgColor1); 
   background-image: -moz-linear-gradient(top, $bgColor2, $bgColor1);
   background-image: -ms-linear-gradient(top, $bgColor2, $bgColor1);
   background-image: -o-linear-gradient(top, $bgColor2, $bgColor1);
}
.gradientBack2 {
   background-color: $bgColor2; 
   /* fallback image */
   //background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from($bgColor1), to($bgColor2));
   background-image: -webkit-linear-gradient(top, $bgColor1, $bgColor2); 
   background-image: -moz-linear-gradient(top, $bgColor1, $bgColor2);
   background-image: -ms-linear-gradient(top, $bgColor1, $bgColor2);
   background-image: -o-linear-gradient(top, $bgColor1, $bgColor2);
}
//end gradients
////Link Styling
a:link{
	color:$textColor2;
}
a:visited{
	color:$textColor2;
}
a:hover{
	color:darken($textColor2,20%) !important;
}
//
//////////Template 
body, html {
	width:100%;
	height:100%;
}

h1, h2, h3, h4, h5, h6, p, a, li, span{
	color:$textColor2;
	font-family: 'myriad pro';
}

p {
	margin-bottom:0px;
}

#mainHead {
	padding:$contentPadding;
	width:100%;
	min-width:768px;
	height:50px;
}
#logo{
	margin:0px;
	height:inherit;
	h2{
		width:100%;
		//text-align:right;
		font-size:2.2em;
		margin-top:.4em;
	}
}
#mainNav{
	height:100%;
	padding-top:1.5em;
	a {
		font-size:1.3em;
		margin-left:5%;
		&:first-child{
			margin-left:10%;
		}
	}
}
#logIn {
	padding-top:13px;
}
#logInModal{
	form input:nth-child(3){
		margin-top:.5em;
	}
}
#mainContent{
}
#mainFoot{
	.container{
		display:block;
	}
	width:100%;
	height:35px;
	//position:absolute;
	z-index:10;
	bottom:0;
	background-color:rgb(220,220,220);
	overflow-y:hidden;
	>div{
		display:inline-block;
	}
	&.spreeFooter{
		position:static !important;
	}
}
#footCopy{
	span{
		&:first-child::after{
			content:'-';
			padding:0 4px;
		}
		line-height:2em;
		font-size:1.5em;
		color:$textColor2;
	}
}
#footCredit{
	span{
		height:100%;
		padding-top:.7em;
		font-size:1.1em;
		text-align:right;
		float:right;
		&:nth-child(2){margin-right:30px;}
	}
}
///////////Pages
//Home Page
#homeSlider{
	margin-bottom:0px;
	width:100%;
	img{
		width:100%;
		height:100%;
	}
}
#homeFeatured{
	width:100%;
	height:200px;
	background-color:$bgColor1;
	>div{
		height:100%;
		padding-top:1.2em;
	}
}
#avidLink{
	position:absolute;
	z-index:9;
	top:0;
	bottom:0;
	left:0;
	right:0;
	&:hover{
		background-color:rgba(150,150,150,.4);
	}
}
#avidLogo{
	position:relative;
	top:20px;
	z-index:5;
}
#col2{
	p{
		font-size:1.3em;
		padding:0;
	}
}
#col3 form {
	.input1 {
		width:49%;
	}
	textarea{
		width:99%;
		margin:.5em 0;
	}
}
////////