$textColor1: white;
$textColor2: rgb(100,100,100);
$bgColor1: rgb(225,225,225);
$bgColor2: rgb(250,250,250);

$contentPadding:0 3%;
$footHeight: 35px;

$headFont: 'Noto Sans', 'Myriad Pro', sans-serif;
$bodyFont: 'Quicksand', 'Myriad Pro', sans-serif;

@font-face {
  font-family: 'Futura-BoldOblique';
  src: url(asset-path('Futura-BoldOblique.ttf'));
}

//gradients
.gradientBack {
   background-color: $bgColor2; 
   /* fallback image */
   //background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($bgColor2), to($bgColor1));
   background-image: -webkit-linear-gradient(top, $bgColor2, $bgColor1); 
   background-image: -moz-linear-gradient(top, $bgColor2, $bgColor1);
   background-image: -ms-linearz-gradient(top, $bgColor2, $bgColor1);
   background-image: -o-linear-gradient(top, $bgColor2, $bgColor1);
}
.gradientBack2 {
   background-color: $bgColor2; 
   /* fallback image */
   //background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from($bgColor1), to($bgColor2));
   background-image: -webkit-linear-gradient(top, $bgColor1, $bgColor2); 
   background-image: -moz-linear-gradient(top, $bgColor1, $bgColor2);
   background-image: -ms-linear-gradient(top, $bgColor1, $bgColor2);
   background-image: -o-linear-gradient(top, $bgColor1, $bgColor2);
}
//end gradients
////Link Styling
a:link{
	color:$textColor2;
}
a:visited{
	color:$textColor2;
}
a:hover{
	color:darken($textColor2,20%) !important;
}
//
//////////Template 
body, html {
	width:100%;
	height:100%;
}

body{
	background-color:$bgColor1 !important;
}

h1, h2, h3, h4, h5, h6 {
	color:$textColor2;
	font-family:$headFont;
	font-weight:300;
}

p, a, li, span {
	margin-bottom:0px;
	color:$textColor2;
	font-family:$bodyFont;
}

#mainHead {
	padding:$contentPadding;
	width:100%;
	&.spreeHeader{width:auto;}
	min-width:768px;
	min-height:50px;
	border-bottom:2px solid rgb(140,140,140);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .5);
	position:relative;
	z-index: 8;
	overflow:auto;
}
#logo{
	margin:0px;
	height:inherit;
	h2{
		width:100%;
		//text-align:right;
		font-size:2.2em;
		margin-top:.2em;
		a{
			font-family:'Futura-BoldOblique', $bodyFont;
		}
	}
}
#mainNav{
	height:100%;
	padding-top:.45em;
	a {
		font-size:1.3em;
		margin-left:3%;
		padding:1.5em .5em .9em;
		&:first-child{
			margin-left:5%;
		}
		&:hover{
			background-color:rgba(180,180,180,0.2);
		}
	}
}
#avidLogo{
	max-height:25px;
	position: relative;
	top:7px;
}
#logIn {
	padding-top:13px;
	a.button{width:75px;}
}
#logInModal{
	form input:nth-child(3){
		margin-top:.5em;
	}
}
#mainContent{
	min-width:768px;
	border-top:1px solid white;
	background-color:$bgColor1;
}
#mainFoot{
	.container{
		display:block;
	}
	width:100%;
	height:$footHeight;
	position:fixed;
	bottom:0px;
	z-index:10;
	background-color:rgb(220,220,220);
	border-top:2px solid white;
	overflow-y:hidden;
	>div{
		display:inline-block;
	}
	&.spreeFooter{
		position:static !important;
	}
}
#footCopy{
	span{
		height:100%;
		padding-top:.5em;
		font-size:1.1em;
		float:left;
		&:first-child::after{
			content:'-';
			padding:0 4px;
		}
	}
}
#footCredit{
	span{
		height:100%;
		padding-top:.5em;
		font-size:1.1em;
		text-align:right;
		float:right;
		&:nth-child(2){margin-right:30px;}
	}
}

///////////Pages
/////Home Page
#homePage{position:relative;}
#homeSlider{
	margin-bottom:0px;
	width:100%;
	min-height:380px;
	max-height:650px;
	img{
		width:100%;
	}
}
.orbit-wrapper .slider-nav span{
		&.right, &.left{
			margin-top:-75px;
		}
	}
#homeFeatured{
	position:absolute;
	bottom:0;
	z-index:7;
	width:100%;
	padding:0 5%;
	height:160px;
	background-color:$bgColor1;
	box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, .5);
	>div{
		height:100%;
		padding-top:1.1em;
	}
}
#col1, #col2 {
	img{
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5);
	}
}
#col2{
	padding:0 3%;
	p{
		//font-size:1.15em;
		padding:0;
	}
}
#col3 form {
	.input1 {
		width:49%;
	}
	textarea{
		width:99%;
		margin:.5em 0;
	}
}
///Home Slides
.slideCopy{
	padding:20px;
	position:absolute;
	z-index:5;
	background-color:rgba(140,140,140,0.6);
	h2, p{color:white;}
	h2 {
		font-size:2.5em;
		line-height:1.2em;
	}
	p{
		font-size:1.4em;
		line-height:1.4em;
	}
}
.homeSlide{
	background-position:center center;
}
#slide1{
	background:url(asset-path('panorama.jpg', image)) no-repeat;
	.slideCopy{
		max-width:450px;
		top:75px;
		left:100px;	
	}
}
#slide2{
	background:url(asset-path('panorama2.jpg', image)) no-repeat;
	.slideCopy{
		max-width:470px;
		top:120px;
		right:100px;
	}
}
#slide3{
	background:url(asset-path('panorama3.jpg', image)) no-repeat;
	.slideCopy{
		background-color:rgba(100,100,100,0.6);
		max-width:475px;
		top:85px;
		right:100px;
	}
}
//////
////// Stacks Page
#stackPage{
	padding-bottom:$footHeight;
}
ul.featured.orbit{
	margin-bottom:0px;
}
.stackNav{
	position:absolute;
	top:35%;
	left:20px;
	z-index:8;
	padding:0 10px;
	background-color:rgba(180,180,180,0.4);
	li {
		padding:0 5px;
		//&:hover{background-color:rgba(180,180,180,0.7);}
		a{
			color: white;
			&:hover{text-decoration:underline;}
		}
	}
}

#addLink{
	position:absolute;
	top:65px;
	right:75px;
	z-index:9;
}
//////
////// Backend Styles
.backend{
	padding-bottom:$footHeight;
}
