// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///////////Pages
/////Home Page
#homePage{
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	z-index:5;
	overflow-y:hidden;
	height:100%;
}
#homeSlider{
	width:100%;
	height:100%;
	min-height:500px;
	//orbit graceful loading state below
	//background: url(spinner.gif) center center #f4f4f4 no-repeat; 
	img { display: none; }
	.orbit { background: none; }
	.orbit img { display: block; }
}
.homeNavList{
	position:absolute;
	z-index: 9;
	top: 60px;
	left: 50%;
	margin-left:-42px;
	background-color:rgba(0,0,0,.5);
	padding:3px 10px 0;
	border-radius: 10px;
	li{
		display:inline-block;
		margin-left:5px;
		&:first-child{margin-left:0px;}
		a {
			display:inline-block;
			width: 10px; 
		 	height: 10px; 
		 	background: $bgColor2; 
		 	border-radius: 5px;
		}
		&.current a{background-color: purple;}
	}
}
.homeNavThumb{
	opacity:0;
	width:465px;
	position:absolute;
	top:-47px;
	left:50%;
	margin-left:-225px;
	z-index:29;
	padding:$standardPad;
	background-color:rgba(0,0,0,0.6);
	border:1px solid rgba(100,100,100,0.7);
	li{
		display:inline-block;
		margin:3px 0 0 10px;
		//height:70px;
		&:first-child{margin-left:0px;}
		a{display:inherit;}
	}
}
#thumbTrigger{
	opacity:0;
	position:absolute;
	z-index:9;
	top:60px;
	left:50%;
	margin-left:190px;
	p{
		color:white;
		cursor:pointer;
	}
}
#homeFeatured{
	max-width:$contentMax;
	position:fixed;
	bottom: $footHeight + 10;
	left:50%;
	margin-left:-($contentMax / 2);
	width:1200px;
	z-index:10;
	padding:$standardPad;
	background-color:rgba(0,0,0,0.6);
	border:1px solid rgba(100,100,100,0.7);
	> img {
		width: ($contentMax - 32) / 2;
		height:auto;
		float:left;
		&:first-child{margin-right:10px;}
	}
}

///Home Slides
.slideCopy{
	position:fixed;
	bottom:$footHeight + 150;
	left:50%;
	margin-left:-225px;
	width:450px;
	background-color:rgba(0,0,0,0.6);
	border:1px solid rgba(100,100,100,0.7);
	padding:$standardPad;
	text-align:center;
	h2, p {
		color:white;
	}
	h2{
		font-size:1.7em;
		margin:0 0 10px;
	}
}
#slide1{
	background-image:url(asset-path('background1.jpg', image));
}
#slide2{
	background-image:url(asset-path('background2.jpg', image));
}
.homeSlide{
	background-attachment:fixed;
	background-position:top center;
	background-repeat:no-repeat;
}
////////// Products Page
#line_card .title h3 {
	text-decoration: underline;
}
////////// Who We Are
#about3Bios{
	position:absolute;
	bottom:50px;
	overflow-y:auto;
	max-width:1100px;
	margin:10px 0;
}
.employeeContact{
	width:30%;
	display:inline-block;
	margin:3em 1%;
	h4{
		font-size:2em;
		margin:.2em 0 !important;
	}
	p{font-size:1.3em;}
}

////////// What We Do
#wwd1{
	background-image:url(asset-path('wwd_bg1.jpg', image));
}
#sales{
	background-image:url(asset-path('sales_bg.jpg', image));
}
#design{
	background-image:url(asset-path('design_bg.jpg', image));
}
#integrations{
	background-image:url(asset-path('integration_bg.jpg', image));
}
#wwd1{
	background-attachment:fixed;
  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;
	overflow-y:auto;
	h1{
		padding:100px 0 100px;
		width:100%;
		font-size:4em;
	}
	.stackFrontCopy > a{
		float:right;
		margin-top:.5em;
		font-size:1.3em;
		line-height:1.2em;
	}
}
.wwd1Copy{
	width:32%;
	overflow:hidden;
	min-height:240px;
	float:left;
	padding:15px;
	box-sizing:border-box;
	background-color:rgba(0,0,0,0.7);
	border-radius:3px;
	&:nth-child(2){
		margin:0 2%;
	}
	p{
		font-size:1.2em;
	}
	a::after{content:none !important;}
}
#sales{
	a{
		float:left;
		&:nth-child(4){
			float:right;
			margin-right:100px;
		}
	}
}
#integrations{
	padding-top:250px;
}

////////// Gallery
.wpGallery.block-grid.four-up{
	li{
		position:relative;
		width:23%;
		margin:0 1% 2em;
		display:inline-block;
		padding:10px 10px 50px;
		background-color:lighten($bgColor1, .2);
		border-radius:3px;
		a > img{
			width:100%;
			height:auto;
			max-height:250px;
		}
		h4{
			position:absolute;
			bottom:0;
			height:50px;
			padding-top:10px;
			font-size:1.75em;
			width:100%;
			color:black;
			font-family:'Permanent Marker', cursive;
		}
	}
}

////////// Contact Page
#contactPage {		
	h1,h2 {font-family:$headFont;}
	h1,h2,p,a{color:$textColor2;}
	#cForm{
		padding:0 10%;
		h1{
			font-size:2em;
		}
		p{
			font-size:1.5em;
			line-height:1.1em;
			margin:0;
		}
		form {
			input, textarea{
				width:100%;
				margin:10px 0;
			}
			#contactSubmit{
				width:60px;
				background-color:rgb(240,240,240);
			}
		}
	}
	#cInfo{
		h2 {font-size:1.5em;}
		p {
			font-size:1.25em;
			line-height: 1em;
		}
	}
}
////////// Careers Page
.openings {
	height:100%;
	padding-top:1.5em;
	li{
		display: inline-block;
		width:33%;
		height:100%;
		min-width:200px;
		min-height:300px;
		padding:1em;
		text-align:center;
		h3{
			font-size:1.5em;
			line-height:1.3em;
		}
		h4{
			font-weight: normal;
			font-size:1.2em;
			border-bottom:1px solid rgba(140,140,140,1);
			padding:.3em 0;
			color:#902124;
			&::before{
				content: 'Deadline:\00a0';
			}
		}
		p{
			text-align:left;
		}
	  .button{
	  	display:block;
	  	width:60px;
			margin:.5em auto 0;
			color:$textColor2;
		}
	}
}
#resumeButton{
	color:$textColor2;
	width:125px;
	position:relative;
	left:50%;
	margin-left:-55px;
	display:block;
	clear:both;
}

//////////////Avid Corner
#avidPage{
	h1{color:white;}
	.comingSoon{
		position:relative;
		top:200px;
		text-align:center;
		a::after{font-size:.6em;}
	}
}


