-provide :title, '| Products, Line Card'
#line_card.staticPage
	.staticContent
		.featuredVendors
			%h2 Featured Vendors
			.ul.twelve.column
				-@featured_vendors.each do |v|
					%li
						= link_to announcement_path(v.announcement) do 
							=image_tag(v.image.url(:medium), retina: true)
		%ul.lineSide.four.column
			%h2 Categories
			-@categories.each do |cat|
				%li
					%a{href: "##{cat.title}"}= cat.title
		%ul.lineCard.eight.column
			=render partial: 'shared/category', collection: @categories

=content_for :scripts do
	:javascript
		if (window.matchMedia("(min-device-width: 768px)").matches) {
			$('#line_card .staticContent').scroll(function () {
				var threshold = $('.featuredVendors').height();
				var scrollPos = $('#line_card .staticContent').scrollTop();
				var sidePos = $('.lineSide').offset();
				if (scrollPos > threshold) {
					$('.lineSide').css({
						'position':'fixed',
						'top': sidePos.top + 'px',
					})
				}
				else {
					$('.lineSide').css({
						'position':'static',
					})
				}
			});
		}
		
