-provide :title, '| Products, Line Card'
#line_card.staticPage
	.staticContent
		%ul.four.column
			%h2 Categories
			-@categories.each do |cat|
				%li
					%a{href: "##{cat.title}"}= cat.title
		%ul.eight.column
			=render partial: 'shared/category', collection: @categories
