-provide :title, '| Products, Line Card'
#line_card.staticPage
	.staticContent
		#featuredSlider
			=image_tag('avid_slide1.png')
			=image_tag('avid_slide2.png')
		%ul.lineSide.four.column
			%h2 Categories
			-@categories.each do |cat|
				%li
					%a{href: "##{cat.title}"}= cat.title
		.lineCard.eight.column
			%nav#alphaNav
				%p 
					<
					-%w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z).each do |letter|
						=link_to "#{letter}", alpha_products_path(anchor: "#{letter}")
					>
			%ul.lineCategories
				=render partial: 'shared/category', collection: @categories

=content_for :scripts do
	:javascript
		$('#featuredSlider').orbit({
			fluid:true,
			animation: "fade",
			advanceSpeed: 5000,
			animationSpeed: 1500,
			directionalNav: true,
		});
		

		if (window.matchMedia("(min-device-width: 768px)").matches) {
			window.aNavWidth = $('#alphaNav').css('width');
			
			$('#line_card .staticContent').scroll(function () {
				var threshold = $('#featuredSlider').height();
				var scrollPos = $('#line_card .staticContent').scrollTop();
				var sidePos = $('.lineSide').offset();
				var aNavPos = $('#alphaNav').offset();
				console.log(aNavWidth);
				if (scrollPos > threshold) {
					$('.lineSide').css({
						'position':'fixed',
						'top': sidePos.top + 'px',
					});
					$('#alphaNav').css({
						'position':'fixed',
						'top': aNavPos.top + 'px',
						'width': aNavWidth,
					});
				}
				else {
					$('.lineSide').css({
						'position':'static',
					})
					$('#alphaNav').css({
						'position':'static',
					})
				}
			});
		}
		
