-provide :title, '| Products, Line Card'
#line_card.staticPage
	.staticContent
		.productSliderWrapper
			#featuredSlider
				-@features.each do |f|
					=link_to announcement_path(f) do
						=image_tag f.image.url(:large), retina:true
		.four.column
			%ul.lineSide.categories
				%h2 Categories
				-@categories.each do |cat|
					%li
						%a{href: "##{cat.param_title}"}= cat.title
		.lineCard.eight.column
			%nav#alphaNav
				%p 
					-%w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z).each do |letter|
						=link_to "#{letter}", alpha_products_path(anchor: "#{letter}")
			%ul.lineCategories
				=render partial: 'shared/category', collection: @categories

=content_for :scripts do
	:javascript
		$('#featuredSlider').orbit({
			fluid:true,
			animation: "fade",
			advanceSpeed: 5000,
			animationSpeed: 1500,
			directionalNav: true
		});

		$(".categories a").click(function(e){
			var api = $(".staticContent").data('jsp');
			href = $(this).attr('href');
			api.scrollToElement($('a[name="'+href+'"]'), true);
			api.scrollByY(-70); 
			e.preventDefault();
			return false; 
		});
		

		if (window.matchMedia("(min-device-width: 768px)").matches) {
			window.aNavWidth = $('#alphaNav').css('width');
			
			$('#line_card .staticContent').scroll(function () {
				var threshold = $('#featuredSlider').height();
				var scrollPos = parseInt($('.jspPane').css('top'));
				var absScrollPos = Math.abs(scrollPos);
				var diff = threshold - absScrollPos;

				var alphaWidth = $('#alphaNav').width();

				if(diff < 0){
					$('.lineSide, #alphaNav').css({
						'position': 'absolute',
						'top': Math.abs(diff)
					});
					$('#alphaNav').width(alphaWidth);
				}
				else{
					$('.lineSide, #alphaNav').css({
						'position': 'static',
					});
					$('#alphaNav').width(alphaWidth);
				}
			});
		}
		
