%footer#mainFoot.gradientBack2
  #footCopy.twleve.columns
    %span &copy; 2013 Westlake Pro Inc. All Rights Reserved.
    %span 4101 Lankershim Blvd. North Hollywood, CA 91602
    %span (323) 845-1145
    %span Hours: 9a-6p, M-F
    %span
      %a{:href => "#"} Directions
    %span
      %a{:href => "#"} Site Map
    %span
      %a{:href => "#"} Privacy Policy
    %span
      Site by
      %a{:href => "mailto:david.w.martin@me.com"} edG Design
    